---
import CarouselItem from "../CarouselItem.astro";
---

<style>
  <style > .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .carousel {
    display: flex;
    gap: 16px;
    width: fit-content; /* Double the width to accommodate two sets of images */
    animation: scroll 20s linear infinite;
    overflow: hidden;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move left by 50% (one full set) */
    }
  }
  .carousel:hover {
    animation-play-state: paused;
  }
</style>

<div class="carousel relative">
  <CarouselItem airline="ethiopian" />
  <CarouselItem airline="uzbekistan" />
  <CarouselItem airline="airnorth" />

  <CarouselItem airline="ethiopian" />
  <CarouselItem airline="uzbekistan" />
  <CarouselItem airline="airnorth" />
</div>
