---
import Eyebrow from "../Eyebrow.astro";
import BtnPrimary from "../BtnPrimary.astro";
import Carousel from "./Carousel.astro";
---

<section class="bg-sky-100 px-5 py-32 lg:py-56">
  <div
    class="max-w-[1440px] p-5 bg-white rounded-xl mx-auto flex flex-col lg:flex-row lg:max-h-[600px] gap-6"
  >
    <div class="flex-1 p-3 lg:p-10 flex flex-col justify-between">
      <div>
        <Eyebrow text="Case Studies" />
        <h2
          class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl mb-2"
        >
          How We Are Partnering to Help Airlines Thrive
        </h2>
        <p class="text-base max-w-none lg:max-w-[60%] mb-5">
          Discover how AVIAVENTURA’s dedicated teams have successfully
          transformed airline partnerships, driving growth and improving
          operational efficiency. Read our Success Stories to see the value we
          bring to our principals.
        </p>
      </div>
      <BtnPrimary text="Read Case Studies" link="/casestudies" />
    </div>

    <div class="relative flex-1 w-full overflow-hidden rounded-xl">
      <div
        class="bg-gradient-to-r from-white h-full w-[100px] lg:w-[200px] absolute top-0 left-0 z-20"
      >
      </div>

      <Carousel />
    </div>
  </div>
</section>
