---
const { heading, subparagraph } = Astro.props;
import BtnPrimary from "../BtnPrimary.astro";
---

<section>
  <div class="bg-gradient-to-b from-white to-sky-100 pt-32 pb-10 lg:py-56">
    <div class="max-w-[1440px] px-5 mx-auto flex flex-col gap-10 lg:flex-row">
      <div class="flex flex-1 flex-col justify-center gap-10">
        <h1 class="text-display">{heading}</h1>
        <p class="text-xl leading-relaxed">{subparagraph}</p>
        <BtnPrimary link="#" text="Partner with us now" theme="white" />
      </div>
      <div class="relative flex flex-1 items-center justify-center">
        <img
          src="/img/heroCloud.png"
          alt="Decorative cloud background"
          class="aspect-video w-full max-w-[90%] rounded-2xl object-cover md:aspect-[2/3] md:max-w-[60%]"
        />
        <img
          src="/img/heroPlane.png"
          alt="Decorative aeroplane image"
          class="absolute w-full"
        />
      </div>
    </div>
  </div>
</section>
