---
const { heading, subparagraph } = Astro.props;
import BtnPrimary from "../BtnPrimary.astro";
---

<style>
  .moving-cloud {
    position: absolute;
    animation: moveImage 60s alternate infinite;
    height: 104%;
    top: -4px;
    width: 1400px;
  }

  @keyframes moveImage {
    0% {
      left: -500px;
    }
    100% {
      left: 0;
    }
  }

  @media screen and (max-width: 1440px) {
    .moving-cloud {
      animation: none;
      width: 100%;
    }

    .moving-cloud img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
</style>

<section>
  <div class="bg-gradient-to-b from-white to-sky-100 pt-28 lg:py-32">
    <div
      class="max-w-[1440px] mx-auto flex flex-col gap-10 lg:flex-row items-center"
    >
      <div class="flex-1 px-5">
        <h1 class="text-display mb-2">{heading}</h1>
        <p class="text-xl leading-relaxed mb-10">{subparagraph}</p>
        <BtnPrimary link="/contact" text="Partner with us now" theme="white" />
      </div>
      <div class="relative flex flex-1 items-center justify-center w-full">
        <img
          src="/img/CloudLong.jpg"
          alt="Decorative cloud background"
          class="w-full object-cover h-40 block md:hidden mt-20"
        />

        <div
          class="hidden md:block overflow-hidden relative aspect-video w-full md:aspect-[2/3] max-w-[90%] rounded-[32px] md:max-w-[60%] border-[10px] border-white border-opacity-70"
        >
          <div class="moving-cloud">
            <img
              src="/img/CloudLong.jpg"
              alt="Decorative cloud background"
              class="h-full"
            />
          </div>
        </div>
        <img
          src="/img/heroPlane.png"
          alt="Decorative aeroplane image"
          class="absolute w-full px-5 lg:px-0"
        />
      </div>
    </div>
  </div>
</section>
