---
const { heading, subparagraph, hows } = Astro.props;
import BtnPrimary from "../BtnPrimary.astro";
---

<section class="bg-brand py-20 lg:py-32">
  <div class="md:pt-0">
    <div
      class="max-w-[1440px] px-5 mx-auto flex gap-14 lg:gap-20 flex-col relative"
    >
      {
        subparagraph && (
          <p class="max-w-none lg:max-w-[50%] text-base lg:text-xl lg:leading-relaxed">
            {subparagraph}
          </p>
        )
      }

      <p
        class="font-light text-2xl leading-relaxed lg:text-4xl lg:leading-relaxed text-white"
      >
        {heading}
      </p>
      <div class="flex flex-col lg:flex-row justify-between gap-5 lg:gap-20">
        {
          hows.map((how, index) => (
            <div class="p-2 bg-blue-100 bg-opacity-15 border-sky-100 border-opacity-5 border rounded-xl flex-1">
              <div class=" h-full flex gap-5 flex-col  justify-between bg-white hover:bg-slate-100 rounded-lg p-4 lg:p-7 ">
                <div class="">
                  <p class="mb-1 tabular-nums text-sky-600">0{index + 1}</p>

                  <p class="text-3xl font-light text-brand ">{how.name}</p>
                </div>
                <img
                  src="/img/placeholder.jpg"
                  alt=""
                  class="object-cover aspect-[2/1] rounded-lg "
                />
                <p>{how.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
