---
import Eyebrow from "../Eyebrow.astro";
---

<section>
  <div class="bg-gradient-to-t from-white via-white to-sky-100">
    <div class="max-w-[1440px] px-5 mx-auto flex flex-col gap-10 lg:flex-col">
      <div class="flex flex-col w-full">
        <Eyebrow text="OUR EXPERTISE AND NETWORK" />
        <p class="text-xl lg:max-w-3xl leading-relaxed">
          At AVIAVENTURA, our GSSA approach brings together key advantages that
          set us apart. From our extensive network to our expertise, we are
          committed to offering unmatched support for airline partners.
        </p>
      </div>

      <div class="flex gap-10">
        <div class="flex flex-col gap-10">
          <div class="flex gap-10 pb-10 border-b border-slate-300 h-fit">
            <p class="text-2xl text-sky-600">01</p>
            <div>
              <h3 class="text-2xl mb-2">Extensive Network</h3>
              <p>
                Leverage our strong connections with government bodies,
                authorities, and travel agencies, ensuring smooth operations and
                fast access to market opportunities.
              </p>
            </div>
          </div>

          <div class="flex gap-10 pb-10 border-b border-slate-300 h-fit">
            <p class="text-2xl text-sky-600">02</p>
            <div>
              <h3 class="text-2xl mb-2">Expert Team</h3>
              <p>
                Our highly skilled and experienced professionals provide
                dedicated attention, handling all aspects of airline
                representation and management with precision.
              </p>
            </div>
          </div>

          <div class="flex gap-10 pb-10 border-b border-slate-300 h-fit">
            <p class="text-2xl text-sky-600">03</p>
            <div>
              <h3 class="text-2xl mb-2">Market Insight</h3>
              <p>
                Benefit from our deep understanding of Indonesia’s market,
                enabling airlines to tailor their strategies and capture growth
                in this dynamic region.
              </p>
            </div>
          </div>

          <div class="flex gap-10 pb-10 border-b border-slate-300 h-fit">
            <p class="text-2xl text-sky-600">04</p>
            <div>
              <h3 class="text-2xl mb-2">Cargo Operations</h3>
              <p>
                We offer specialized cargo services, managing complex logistics
                and ensuring efficient operations to meet the growing demands of
                cargo transport.
              </p>
            </div>
          </div>
        </div>

        <div class="bg-red-200">
          <img
            src="/img/event1.png"
            alt=""
            class="rounded-lg h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
