---
const { eyebrow, heading, subparagraph, advantages } = Astro.props;
import Eyebrow from "../Eyebrow.astro";
---

<section class="py-32 lg:py-56">
  <div
    class="max-w-[1440px] px-5 mx-auto flex flex-col gap-6 lg:gap-20 lg:flex-row"
  >
    <div class="flex-1 flex flex-col justify-between">
      <div>
        <Eyebrow text={eyebrow} />

        <h2
          class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl mb-2"
        >
          {heading}
        </h2>
      </div>
      <p class="text-base sm:text-xl">
        {subparagraph}
      </p>
    </div>
    <div class="flex flex-1 flex-col gap-10">
      <ul class="advantages flex flex-col text-xl sm:text-2xl">
        {
          advantages.map((advantage) => (
            <li class="flex gap-2 py-6 md:py-10 border-b border-slate-200">
              <img
                src="/img/checklist.svg"
                alt="Checklist"
                class="h-5 sm:h-8"
              />
              {advantage}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
