---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto gap-10 gap-y-24 py-64">
    <div class="p-5 border-y border-slate-100 md:p-10">
      <p class="mb-2">Error code: 404</p>
      <h1 class="text-display mb-12 text-5xl">
        We are sorry, the url you're visiting doesn't exist. <a
          class="text-sky-600 hover:text-sky-300"
          href="https://www.linkedin.com/company/aviaventura-aero-agensi"
          >Back to homepage.</a
        >
      </h1>
    </div>
  </main></Layout
>

<script>
  document.querySelectorAll(".apply-btn").forEach((button) => {
    button.addEventListener("click", function () {
      // Get the job title using the ID stored in data-job
      const jobId = this.getAttribute("data-job");
      const jobTitleElement = document.getElementById(jobId);
      const jobTitle = jobTitleElement
        ? jobTitleElement.textContent.trim()
        : "Unknown Position";

      const email = "recruitment@example.com"; // Change to your recipient email
      const subject = encodeURIComponent(
        `Job application for AVIAVENTURA: ${jobTitle}`
      );

      // Open mail client
      window.location.href = `mailto:${email}?subject=${subject}`;
    });
  });
</script>
