---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import BtnPrimary from "../components/BtnPrimary.astro"
---

<Layout>
  <Navbar />
  <main class="container mx-auto flex flex-col gap-8 pt-40 lg:flex-row lg:gap-20 lg:py-56">
    <div class="flex-1">
      <h1 class="text-display mb-8 !leading-tight lg:mb-12 lg:max-w-[8ch]">Our Company</h1>
      <p>Established in December 2016, AVIAVENTURA is a part of Ayuberga, one of the leading and notable GSA in Indonesia.</p>
      <p>With a team of experienced professionals and strong industry connections, we are committed to enhancing our partners' market presence and delivering exceptional service. Our goal is to be the preferred partner in the aviation and tourism sectors, driving growth and success for all our stakeholders.</p>
    </div>
    <div class="flex-1">
      <img src="/img/aboutImg.png" alt="" class="h-72 w-full rounded-2xl object-cover lg:size-auto">
    </div>
  </main>
</Layout>
