---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import BtnPrimary from "../components/BtnPrimary.astro"
---

<Layout>
  <Navbar />
  <main class="bg-gradient-to-b from-white to-sky-100 pt-40 lg:py-56">
    <div class="container mx-auto flex flex-col gap-10 lg:flex-row">
      <div class="flex flex-1 flex-col justify-center gap-10">
        <h1 class="text-display leading-snug">We Provide Dedicated GSA Teams That Fuel Sales Growth</h1>
        <p class="text-xl">As we value exclusivity, for each airline we partner with, gets a dedicated team and focused on delivering personalized sales operations to achieve optimal growth in the Indonesian market.</p>
        <BtnPrimary link="#" text="Partner with us now" theme="white">
      </div>
      <div class="relative flex flex-1 items-center justify-center lg:justify-end">
        <img src="/img/heroCloud.png" alt="Cloud background" class="aspect-[2/3] h-44 w-full rounded-3xl object-cover sm:h-64 lg:h-auto lg:w-[320px] xl:w-[400px]">
        <img src="/img/heroPlane.png" alt="Aeroplane" class="absolute w-[500px] sm:w-[700px] lg:w-[500px] xl:w-[600px]">
      </div>
    </div>
  </main>
  <section class="bg-gradient-to-t from-white to-sky-100 pt-40 lg:py-56">
    <div class="container mx-auto flex flex-col gap-10 lg:flex-row">
      <div class="flex-1">
        <p class="mb-3 inline-flex gap-2 text-xl font-bold uppercase text-sky-600">
          <img src="/img/headerBullet.svg" alt="Header Bullet" class="h-[1em]">
          Why dedicated team
        </p>
        <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">For Each New Partnership, We Form A New Dedicated Team to Ensure Focused Attention & Treatment</h2>
      </div>
      <div class="flex flex-1 flex-col gap-10">
        <p class="text-base sm:text-xl">This commitment ensure to bring our strategic partnership some advantages.</p>
        <ul class="flex flex-col divide-y-2 text-xl sm:text-2xl">
          <li class="flex gap-2 py-6">
            <img src="/img/checklist.svg" alt="Checklist" class="h-5 sm:h-8">
            Faster Response Time
          </li>
          <li class="flex gap-2 py-6">
            <img src="/img/checklist.svg" alt="Checklist" class="h-5 sm:h-8">
            Enhanced Accountability
          </li>
          <li class="flex gap-2 py-6">
            <img src="/img/checklist.svg" alt="Checklist" class="h-5 sm:h-8">
            Stronger Relationship
          </li>
          <li class="flex gap-2 py-6">
            <img src="/img/checklist.svg" alt="Checklist" class="h-5 sm:h-8">
            Improved Efficiency
          </li>
        </ul>
        <!-- TODO: add blog, fetched from strapi -->
      </div>
    </div>
  </section>
  <section class="container mx-auto grid grid-cols-1 grid-rows-[repeat(3,fit-content)] gap-10 pt-32 lg:grid-cols-2 lg:grid-rows-[repeat(2,fit-content)]">
    <div>
      <p class="mb-3 inline-flex gap-2 text-xl font-bold uppercase text-sky-600">
        <img src="/img/headerBullet.svg" alt="Header Bullet" class="h-[1em]">
        What we deliver
      </p>
      <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">Full-Fledged Marketing and Sales Activities</h2>
    </div>
    <div class="flex items-end justify-end">
      <BtnPrimary link="#" text="Ask for custom services" theme="light">
    </div>
    <div class="row-start-2 flex flex-col gap-10 lg:col-span-2 lg:flex-row">
      <ul class="flex flex-1 flex-col divide-y-2">
        <li class="flex items-center gap-2 text-xl font-semibold text-sky-600">
          <img src="/img/deliverList1.svg" alt="A plane with 2 person" class="w-11">
          Passenger Airlines
        </li>
        <li class="gap-2 !border-t-0 py-4">Marketing and promotion</li>
        <li class="gap-2 py-4">Ticket sales and distribution</li>
        <li class="gap-2 py-4">Market analysis & reporting</li>
        <li class="gap-2 py-4">Customer service and support</li>
        <li class="gap-2 py-4">Revenue management</li>
      </ul>
      <ul class="flex flex-1 flex-col divide-y-2">
        <li class="flex items-center gap-2 text-xl font-semibold text-sky-600">
          <img src="/img/deliverList2.svg" alt="A plane with 3 boxes" class="w-11">
          Cargo Airlines
        </li>
        <li class="gap-2 !border-t-0 py-4">Cargo Sales & Distribution</li>
        <li class="gap-2 py-4">Documentation & Compliance</li>
        <li class="gap-2 py-4">Cargo handling & storage</li>
        <li class="gap-2 py-4">Tracking & monitoring</li>
        <li class="gap-2 py-4">Performance evaluation</li>
      </ul>
      <ul class="flex flex-1 flex-col divide-y-2">
        <li class="flex items-center gap-2 text-xl font-semibold text-sky-600">
          <img src="/img/deliverList3.svg" alt="A person holding a ticket" class="w-11">
          B2C Sales Operation
        </li>
        <li class="flex gap-2 !border-t-0 py-4">First Service</li>
        <li class="flex gap-2 py-4">Second Service</li>
        <li class="flex gap-2 py-4">Third Service</li>
      </ul>
    </div>
  </section>
  <section class="container mx-auto flex flex-col gap-10 pt-32 lg:flex-row">
    <div class="flex-1">
      <p class="mb-3 inline-flex gap-2 text-xl font-bold uppercase text-sky-600">
        <img src="/img/headerBullet.svg" alt="Header Bullet" class="h-[1em]">
        Our strong networking
      </p>
      <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">Trusted Partnerships with Leading Travel Agents</h2>
    </div>
    <div class="flex flex-1 flex-col gap-5">
      <p>Our strong network of leading travel agents across Indonesia ensures broad market reach and effective distribution for our airline partners.</p>
      <p>Some of our well-established partnerships:</p>
      <div class="grid grid-cols-2 grid-rows-2 place-items-center gap-12 lg:grid-cols-3">
        <img src="/img/partner1.png" alt="Bayu Buana Travel Services" class="grayscale">
        <img src="/img/partner2.png" alt="Traveloka" class="grayscale">
        <img src="/img/partner3.png" alt="tiket.com" class="grayscale">
        <img src="/img/partner4.png" alt="Trip.com" class="grayscale">
        <p class="col-span-2 size-full content-center rounded-xl bg-slate-100 py-12 text-center lg:col-span-1">and more...</p>
      </div>
    </div>
  </section>
  <section class="pt-32">
    <div class="container mx-auto flex flex-col items-end gap-10 lg:flex-row">
      <div class="flex-1">
        <p class="mb-3 inline-flex gap-2 text-xl font-bold uppercase text-sky-600">
          <img src="/img/headerBullet.svg" alt="Header Bullet" class="h-[1em]">
          Events that connect
        </p>
        <h2 class="text-3xl !leading-tight text-brand sm:text-4xl xl:text-5xl">Strengthening Bonds Through Strategic Events</h2>
      </div>
      <p class="flex-1">We organize targeted events to foster strong connections and support our airline partners’ marketing goals.</p>
    </div>
    <div class="mt-24 grid grid-cols-1 justify-between gap-5 px-4 text-white lg:grid-cols-2 lg:gap-16 lg:px-8 xl:grid-cols-4 xl:px-16">
      <div class="relative flex aspect-square flex-1 flex-col justify-end gap-2 overflow-hidden rounded-2xl bg-[url('/img/event1.png')] bg-cover p-5 sm:aspect-[3/2] xl:aspect-[3/4]">
        <h3 class="z-10 text-3xl">Tour & Travel Exhibitions</h3>
        <p class="z-10">Showcasing our airline partners to key players in the travel industry.</p>
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-transparent to-sky-600 to-90%"></div>
      </div>
      <div class="relative flex aspect-square flex-1 flex-col justify-end gap-2 overflow-hidden rounded-2xl bg-[url('/img/event2.png')] bg-cover p-5 sm:aspect-[3/2] xl:aspect-[3/4]">
        <h3 class="z-10 text-3xl">Partner Workshops</h3>
        <p class="z-10">Collaborative sessions aimed at optimizing sales strategies</p>
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-transparent to-sky-600 to-90%"></div>
      </div>
      <div class="relative flex aspect-square flex-1 flex-col justify-end gap-2 overflow-hidden rounded-2xl bg-[url('/img/event3.png')] bg-cover p-5 sm:aspect-[3/2] xl:aspect-[3/4]">
        <h3 class="z-10 text-3xl">Exclusive Airlines Dinner</h3>
        <p class="z-10">Intimate gatherings to discuss strategy and celebrate successes.</p>
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-transparent to-sky-600 to-90%"></div>
      </div>
      <div class="relative flex aspect-square flex-1 flex-col justify-end gap-2 overflow-hidden rounded-2xl bg-[url('/img/event4.png')] bg-cover p-5 sm:aspect-[3/2] xl:aspect-[3/4]">
        <h3 class="z-10 text-3xl">Aviation Insights Seminar</h3>
        <p class="z-10">This event fosters collaboration and equips our principals with the knowledge needed to thrive in the Indonesian market.</p>
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-transparent to-sky-600 to-90%"></div>
      </div>
    </div>
  </section>
  <!-- TODO: use strapi to fetch, for now, just a dummy -->
  <section class="container mx-auto pt-32">
    <h2 class="mb-12 text-5xl">Spotlight</h2>
    <div class="flex flex-col items-end gap-5 rounded-3xl bg-slate-100 lg:flex-row">
      <div class="flex-1 p-5">
        <img src="https://via.placeholder.com/1080x720" alt="Placeholder" class="rounded-3xl">
      </div>
      <div class="flex-1 p-5">
        <h3 class="text-2xl text-brand lg:text-3xl">Inaugural Flight ET 629</h3>
        <p class="mb-12 mt-5">Ethiopian Airlines, the largest Aviation Group in Africa and SKYTRAX certified Four Star Global Airline, is pleased to announce that it will launch thrice weekly flights to Jakarta, Indonesia start 21 July 2018.</p>
        <BtnPrimary link="#" text="Read more" theme="white">
      </div>
    </div>
  </section>
  <section class="container mx-auto py-32">
    <h2 class="mb-12 text-5xl text-brand">Newsfeed</h2>
    <div class="flex flex-col items-end gap-5">
      <div class="flex flex-col lg:flex-row items-end gap-12">
        <div class="flex-1">
          <img src="https://via.placeholder.com/1080x720" alt="Placeholder" class="rounded-xl">
        </div>
        <div class="flex-1 grow-[2] border-b pb-12">
          <h3 class="text-3xl hover:text-sky-600"><a href="#">Agent Gathering at Hard Rock Cafe Jakarta</a></h3>
          <p class="mb-12 mt-5">PT Aviaventura as GSA Ethiopian Airlines in Indonesia held a Travel Agent Gathering which was located at the Hard Rock Café Jakarta.</p>
          <a href="#" class="text-lg text-sky-600 underline">Read more</a>
        </div>
      </div>
      <BtnPrimary link="/news" text="See all news" theme="light">
    </div>
  </section>
  <section class="max-w-[800px] px-5 mx-auto flex flex-col gap-12 text-center">
    <img src="/img/logoArrow.svg" alt="aviaventura arrow logo" class="w-32 sm:w-48 mx-auto">
    <h2 class="text-3xl sm:text-5xl text-brand">Be Our Partner</h2>
    <p class="text-lg">Since 2016, AVIAVENTURA has proudly served as a trusted GSA in Indonesia, managing operations for over eight airlines. Our commitment to personalized service and market expertise ensures that partnering with us means your airline will achieve sustained success in the Indonesian market.</p>
    <div class="mx-auto">
      <BtnPrimary text="Partner with Us Today" theme="blue">
    </div>
    <a href="/about" class="text-xl text-sky-600">Learn more about us</a>
  </section>
</Layout>
