---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Studycase from "../components/Studycase.astro"
---

<Layout>
  <Navbar />
  <main class="container mx-auto space-y-5 pt-40 lg:pt-56">
    <h1 class="text-display">Study Case</h1>
    <p class="lg:w-1/2">Explore how AVIAVENTURA has partnered with leading airlines to achieve remarkable growth.</p>
    <p class="lg:w-1/2">Our case studies showcase the personalized strategies, dedicated teams, and successful
      outcomes that have helped our airline partners thrive in the Indonesian market.</p>
  </main>
  <section class="container mx-auto space-y-5 py-24">
    <Studycase />
  </section>
  <Footer />
</Layout>
