---
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro"
import Navbar from "../../components/Navbar.astro"
import Footer from "../../components/Footer.astro"

interface News {
  attributes: {
    title: string,
    slug: string
    desc: string,
    content: string,
    picture: {
      data: {
        attributes: {
          url: string
        }
      }
    }
  }
}

export async function getStaticPaths() {
  const query = "populate[picture][fields][0]=url";
  let url = import.meta.env.STRAPI_URL + "/api/newsfeeds";

  const data = await fetch(url + "?" + query).then(response => response.json()).catch((err) => err);
  return data.data.map((news: News) => {
    return {
      params: { slug: news.attributes.slug },
      props: { news },
    }
  });
}

const { news } = Astro.props as { news: News };
const { title, picture, content } = news.attributes;
---

<Layout>
  <Navbar />
  <main class="container mx-auto pb-20 pt-40 space-y-12">
    <a href="/news" class="text-lg text-sky-600 hover:text-sky-700 duration-300 transition-colors">&larr; Back to all news</a>
    <hr>
    <h1 class="text-5xl">{title}</h1>
    <img src={import.meta.env.STRAPI_URL + picture.data.attributes.url} alt={title} class="rounded-2xl">
    <article class="prose" set:html={marked.parse(content)}></article>
  </main>
  <Footer />
</Layout>
