---
interface Props {
  link?: string;
  text?: string;
  theme?: "blue" | "white" | "light";
}

const { link = "#", text = "Primary Button", theme = "blue" } = Astro.props;

const themes = {
  blue: "bg-sky-600 text-white hover:bg-sky-700",
  white: "bg-white hover:bg-slate-50",
  light: "bg-sky-50 hover:bg-sky-100",
};

const iconWrapperClasses = {
  blue: "bg-white",
  white: "bg-sky-600",
  light: "bg-sky-600",
};

const strokeColor = {
  blue: "stroke-sky-600",
  light: "stroke-white",
  white: "stroke-white",
};

const baseClasses =
  "text-brand transition-colors duration-300 inline-flex w-full sm:w-fit rounded-full p-3 text-xl font-medium";
---

<a href={link} class:list={[baseClasses, themes[theme]]}>
  <button class="flex justify-between w-full items-center gap-5">
    <p class="ml-4 text-lg">{text}</p>
    <div class:list={["size-fit rounded-full p-2", iconWrapperClasses[theme]]}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="2"
        class:list={["size-6", strokeColor[theme]]}
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </div>
  </button>
</a>
