---
import { urlForImage } from "../sanity/lib/urlForImage";

const { image, imgCaption, title, description } = Astro.props;
---

<div
  class="p-2 bg-white border-sky-100 border rounded-xl flex flex-col gap-2 justify-between"
>
  <div class="p-3 flex flex-col gap-2">
    <h3 class="text-brand text-3xl">{title}</h3>
    <p class="text-base">{description}</p>
  </div>
  <figure>
    <img
      src={urlForImage(image).url()}
      alt="Past event's crowd held by AVIAVENTURA"
      class="aspect-square object-cover rounded-lg"
    />
    <figcaption class="text-sm text-slate-600 mt-2 h-fit lg:h-12">
      <span class="mr-2">↑</span>
      {imgCaption}
    </figcaption>
  </figure>
</div>
