---
import BtnPrimary from "../components/BtnPrimary.astro"
const currentYear = new Date().getFullYear();
---
<footer class="relative mx-10 mb-20 flex flex-col gap-7 overflow-hidden rounded-3xl bg-white p-10 text-lg">
  <img src="/img/footerArrow.svg" alt="aviaventura footer arrow" class="absolute -left-44 -top-8 h-full opacity-15">
  <div class="mb-40 flex items-start justify-between">
    <img src="/img/logo.svg" alt="aviaventura logo" class="z-10 w-60">
    <ul class="flex gap-20">
      <li>
        <ul class="space-y-2">
          <li class="mb-4 font-normal text-slate-500">Contact</li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="mailto:info@aviaventura.com">info@aviaventura.com</a></li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="tel:+6212345678910">+62 1234-5678-910</a></li>
        </ul>
      </li>
      <li>
        <ul class="space-y-2">
          <li class="mb-4 font-normal text-slate-500">Company</li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="/about">About</a></li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="/career">Career</a></li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="/contact">Contact</a></li>
        </ul>
      </li>
      <li>
        <ul class="space-y-2">
          <li class="mb-4 font-normal text-slate-500">Media</li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="/newsfeed">Newsfeed</a></li>
        </ul>
      </li>
      <li>
        <ul class="space-y-2">
          <li class="mb-4 font-normal text-slate-500">Social</li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="https://linkedin.com/in/" target="_blank">LinkedIn</a></li>
          <li><a class="transition-colors duration-300 hover:text-sky-600" href="https://instagram.com//" target="_blank">Instagram</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <hr class="border-slate-300">
  <small class="text-slate-500">&copy; {currentYear} PT AVIAVENTURA All right reserved</small>
</footer>
  <section class="max-w-[800px] py-20 sm:py-32 px-5 mx-auto flex flex-col gap-12 text-center">
    <img src="/img/logoArrow.svg" alt="aviaventura arrow logo" class="w-32 sm:w-48 mx-auto">
    <h2 class="text-3xl sm:text-5xl text-brand">Be Our Partner</h2>
    <p class="text-lg">Since 2016, AVIAVENTURA has proudly served as a trusted GSA in Indonesia, managing operations for over eight airlines. Our commitment to personalized service and market expertise ensures that partnering with us means your airline will achieve sustained success in the Indonesian market.</p>
    <div class="mx-auto">
      <BtnPrimary text="Partner with Us Today" theme="blue">
    </div>
    <a href="/about" class="text-xl text-sky-600">Learn more about us</a>
  </section>
