---
import BtnPrimary from "../components/BtnPrimary.astro";
const currentYear = new Date().getFullYear();
---

<div
  class="bg-gradient-to-b from-white to-sky-200 pb-8 sm:pb-12 md:pb-20 relative overflow-hidden"
>
  <img
    src="/graphic/cloud-transparent.png"
    alt="Cloud image decoration"
    class="absolute hidden md:block bottom-[100px] w-[800px] max-w-none md:w-full z-0"
  />
  <section
    class="max-w-[800px] px-5 mx-auto pb-20 flex flex-col gap-12 text-center z-10 relative"
  >
    <img
      src="/img/logoArrow.svg"
      alt="aviaventura arrow logo"
      class="w-32 sm:w-48 mx-auto"
    />
    <h2 class="text-3xl sm:text-5xl text-brand">Be Our Partner</h2>
    <p class="text-lg">
      Since 2016, AVIAVENTURA has proudly served as a trusted GSA in Indonesia,
      managing operations for over eight airlines. Our commitment to
      personalized service and market expertise ensures that partnering with us
      means your airline will achieve sustained success in the Indonesian
      market.
    </p>
    <div class="flex flex-col gap-5 items-center">
      <BtnPrimary text="Partner with Us Today" theme="blue" link="/contact" />
      <a href="/about" class="text-xl text-sky-600">Learn more about us</a>
    </div>
  </section>

  <footer
    class="relative mx-3 sm:mx-10 flex flex-col gap-7 overflow-hidden rounded-3xl bg-white px-5 py-8 sm:p-10 text-lg"
  >
    <img
      src="/img/footerArrow.svg"
      alt="aviaventura footer arrow"
      class="absolute -top-4 -right-24 lg:-left-36 lg:-top-8 w-72 h-52 lg:w-auto lg:h-5/6 opacity-15"
      draggable="false"
    />
    <div
      class="mb-5 flex flex-col gap-16 lg:gap-20 xl:flex-row items-start justify-between"
    >
      <img
        src="/img/logo.svg"
        alt="aviaventura logo"
        class="z-10 w-52 sm:w-60"
      />
      <ul class="flex flex-col lg:flex-row gap-10 lg:gap-20">
        <li>
          <ul class="space-y-2">
            <li class="mb-4 font-normal text-base text-slate-400">Contact</li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="mailto:info@aviaventura.com">info@aviaventura.com</a
              >
            </li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="tel:+62215212128">(+6221) 5212128</a
              >
            </li>
          </ul>
        </li>
        <li>
          <ul class="space-y-2">
            <li class="mb-4 font-normal text-base text-slate-400">Company</li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="/about">About</a
              >
            </li>

            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="/casestudies">Case Studies</a
              >
            </li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="/policies">Policy</a
              >
            </li>

            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="/contact">Contact</a
              >
            </li>
          </ul>
        </li>
        <li>
          <ul class="space-y-2">
            <li class="mb-4 font-normal text-base text-slate-400">Media</li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="/news">Newsfeed</a
              >
            </li>
          </ul>
        </li>
        <li>
          <ul class="space-y-2">
            <li class="mb-4 font-normal text-base text-slate-400">Social</li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="https://linkedin.com/in/"
                target="_blank">LinkedIn</a
              >
            </li>
            <li>
              <a
                class="transition-colors duration-300 hover:text-sky-600"
                href="https://instagram.com//"
                target="_blank">Instagram</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <hr class="border-slate-300" />
    <small class="text-slate-400 text-sm sm:text-xs"
      >&copy; {currentYear} PT AVIAVENTURA All right reserved</small
    >
  </footer>
</div>
