<nav class="flex items-center justify-between px-5 py-6 container mx-auto">
  <img src="/img/logo.svg" alt="aviaventura logo">
  <ul class="flex items-center gap-8 text-xl text-slate-800">
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/news">News</a></li>
    <li class="bg-sky-600 text-white rounded-full px-6 py-2"><a href="/partner">Partner with us</a></li>
  </ul>
</nav>
