<nav class="container fixed inset-x-0 top-3 z-30 mx-auto flex items-center justify-between rounded-3xl bg-white px-3 py-6 sm:px-5">
  <a href="/"><img src="/img/logo.svg" class="w-40 sm:w-48" alt="aviaventura logo"></a>
  <ul class="hidden items-center gap-8 text-xl text-slate-800 lg:flex">
    <li><a class="hover:text-sky-600" href="/about">About</a></li>
    <li><a class="hover:text-sky-600" href="/studycase">Case Study</a></li>
    <li><a class="hover:text-sky-600" href="/contact">Contact</a></li>
    <li><a class="hover:text-sky-600" href="/news">News</a></li>
    <li class="rounded-full bg-sky-600 px-6 py-2 text-white"><a href="/partner">Partner with us</a></li>
  </ul>
  <div class="flex h-full cursor-pointer flex-col justify-center gap-1.5 lg:hidden" id="hamburger">
    <div class="h-1 w-10 bg-sky-600 duration-300"></div>
    <div class="h-1 w-10 bg-sky-600 duration-300"></div>
    <div class="h-1 w-10 bg-sky-600 duration-300"></div>
  </div>
</nav>

<!-- TODO: reuse the ul above? -->
<div class="container invisible fixed inset-x-0 top-36 z-30 mx-auto translate-x-full rounded-3xl bg-white px-7 py-10 opacity-0 duration-500 lg:hidden" id="hamburgerList">
  <ul class="flex flex-col gap-8 text-center text-xl text-slate-800 duration-1000">
    <li><a href="/about">About</a></li>
    <li><a href="/studycase">Case Study</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/news">News</a></li>
    <li class="rounded-full bg-sky-600 px-6 py-4 text-white"><a href="/partner">Partner with us</a></li>
  </ul>
</div>

<div class="pointer-events-none fixed inset-0 z-20 bg-black/80 opacity-0 backdrop-blur-sm duration-300 motion-reduce:duration-0 lg:hidden" id="hamburgerOverlay"></div>

<script>
  // make the link blue when we visit the path
  const navLinks = document.querySelectorAll("li a") as NodeListOf<HTMLAnchorElement>;

  navLinks.forEach((link) => {
    if(link.pathname == window.location.pathname) link.classList.add("text-sky-600");
  })

  // hamburger
  const hamburger = document.querySelector("#hamburger");
  const hamburgerBar = document.querySelectorAll("#hamburger div");
  const hamburgerList = document.querySelector("#hamburgerList");
  const hamburgerOverlay = document.querySelector("#hamburgerOverlay");

  hamburger?.addEventListener("click", () => {
    // rotate hamburger bar
    hamburgerBar[0].classList.toggle("rotate-45");
		hamburgerBar[0].classList.toggle("translate-y-[160%]");
		hamburgerBar[1].classList.toggle("hidden");
		hamburgerBar[2].classList.toggle("-rotate-45");
		hamburgerBar[2].classList.toggle("-translate-y-full");

    // toggle hamburger list (menu) on mobile
		hamburgerList?.classList.toggle("opacity-0");
		hamburgerList?.classList.toggle("invisible");
		hamburgerList?.classList.toggle("translate-x-full");

    // toggle hamburger overlay
    hamburgerOverlay?.classList.toggle("opacity-0");
    hamburgerOverlay?.classList.toggle("pointer-events-none");

    // toggle scroll
    document.body.classList.toggle("overflow-hidden")
  })
</script>
