---
let url = import.meta.env.STRAPI_URL + "/api/success-story";
const query = "populate[studycase][populate][picture][fields][0]=url"
const successStory = await fetch(url + "?" + query).then((res) => res.json()).catch((err) => err);

const studycaseAttributes = successStory.data?.attributes?.studycase?.data?.attributes;
const title = studycaseAttributes?.title;
const slug = studycaseAttributes?.slug;
const pictureUrl = studycaseAttributes?.picture?.data?.attributes?.url;
---
{
  successStory.data ?
  <div class="flex flex-col sm:flex-row gap-5 rounded-xl border bg-white p-3">
    <img src={import.meta.env.STRAPI_URL + pictureUrl} alt="" class="sm:size-32 rounded-lg object-cover">
    <div class="flex flex-col justify-between">
      <div>
        <p class="mb-3 font-bold uppercase tracking-widest text-slate-800">Success Story</p>
        <p><a href={`studycase/${slug}`}>{title}</a></p>
      </div>
      <a href={`studycase/${slug}`} class="mt-5 text-sky-600 transition-colors duration-300 hover:text-sky-700">Read more</a>
    </div>
  </div>
  : null
}
