---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto gap-10 gap-y-24 pb-24 pt-40 lg:pt-56">
    <h1 class="text-display mb-12 text-5xl">Open position</h1>
    <div class="flex flex-col">
      <h2 class="text-3xl pb-5">Marketing</h2>
      <ul class="mb-5">
        <li
          class="py-8 border-y border-slate-200 flex flex-col md:flex-row gap-10"
        >
          <div class="flex-1">
            <p
              class="job-title font-medium"
              id="job-market-development-representative"
            >
              Market Development Representative
            </p>
            <p class="text-sm">
              We're looking for a Campaign Content Writer with experience in
              campaign development, copywriting, content marketing, digital
              media, and marketing. You will support marketing campaigns and SEO
              initiatives and create impactful copy for multiple channels. You
              will report to the CMO.
            </p>
          </div>
          <ul class="flex-1 text-sm list-disc">
            <li>
              Enrolled in a relevant field of study (e.g. Information
              Technology, Computer Science)
            </li>

            <li>
              Hands-on experience with Apple devices, particularly macOS and iOS
            </li>
            <li>
              Familiarity with basic troubleshooting for Apple products and an
              eagerness to learn advanced solutions
            </li>
            <li>
              Excellent communication skills in English, and Dutch is a plus
            </li>
            <li>
              Ability to work independently, manage time effectively and
              prioritize tasks
            </li>
          </ul>

          <div>
            <button
              class="apply-btn border rounded-md border-slate-500 px-4 py-2"
              data-job="job-market-development-representative">Apply now</button
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="flex flex-col">
      <h2 class="text-3xl pb-5">Sales</h2>
      <ul class="mb-5">
        <li
          class="py-8 border-y border-slate-200 flex flex-col md:flex-row gap-10"
        >
          <div class="flex-1">
            <p class="job-title font-medium" id="job-sales-representative">
              Sales Representative
            </p>
            <p class="text-sm">
              You are responsible for expanding the Indoneisa market and
              acquiring new customers. Our innovative product for child and
              youth welfare is being introduced in Switzerland for the first
              time – an exciting challenge with great creative freedom. ​
            </p>
          </div>
          <ul class="flex-1 text-sm list-disc">
            <li>
              You have completed an apprenticeship in the technical or
              commercial field or have a degree in engineering or economics.
            </li>
            <li>
              You have at least 3 years of professional experience in software
              sales, ideally for social organisations. You are just as familiar
              with customer acquisition as you are with customer support.
            </li>
            <li>
              You have a strong interest in digitalisation in general and in
              requirements and processes in various social institutions in
              particular.
            </li>
            <li>
              You are used to working independently in sales, are still eager to
              learn and want to continuously improve your sales skills.
            </li>
            <li>
              Your success and goal-orientation as well as your tenacity are the
              basis for your ability to close deals.
            </li>
            <li>
              You have strong communication skills and a positive charisma.
            </li>
          </ul>

          <div>
            <button
              class="apply-btn border rounded-md border-slate-500 px-4 py-2"
              data-job="job-sales-representative">Apply now</button
            >
          </div>
        </li>
      </ul>
    </div>
  </main></Layout
>

<script>
  document.querySelectorAll(".apply-btn").forEach((button) => {
    button.addEventListener("click", function () {
      // Get the job title using the ID stored in data-job
      const jobId = this.getAttribute("data-job");
      const jobTitleElement = document.getElementById(jobId);
      const jobTitle = jobTitleElement
        ? jobTitleElement.textContent.trim()
        : "Unknown Position";

      const email = "recruitment@example.com"; // Change to your recipient email
      const subject = encodeURIComponent(
        `Job application for AVIAVENTURA: ${jobTitle}`
      );

      // Open mail client
      window.location.href = `mailto:${email}?subject=${subject}`;
    });
  });
</script>
